{% extends "jobapp/parent.html" %}
{% block body %}
<div class="row mt-5 w-75 mx-auto pb-5 fs-6">
    <form>
        <h1 style="text-align: center; color: #000000; font-weight:600;">Apply Now</h1>
        <div class="mb-3 pt-5">
          <label for="empemailaddress" class="form-label" required>Enter Emp Email Address</label>
          <input type="email" class="form-control" name="empemailaddress" placeholder="Enter Email">
        </div>
        <div class="mb-3">
          <label for="jobtitle" class="form-label" required>Job Title</label>
          <input type="text" class="form-control" name="jobtitle" placeholder="Enter Job Title">
        </div>
        <div class="mb-3">
          <label for="post" class="form-label" required>Post</label>
          <select class="form-select " placehoder="Position Applying For" name="post" required>
            <option selected>Position Applying For</option>
            <option value="Associate Analyst">Associate Analyst</option>
            <option value="Data Analyst">Data Analyst</option>
            <option value="Data Scientist">Data Scientist</option>
            <option value="Nutrition Officer">Nutrition Officer</option>
            <option value="System Analyst">System Analyst</option>
            <option value="Full Stack Developer">Full Stack Developer</option>
            <option value="UI/UX Dessigner">UI/UX Dessigner</option>
            <option value="Software Developer">Software Developer</option>
            <option value="Web Developer">Web Developer</option>
            <option value="Software Engineer">Software Engineer</option>
            <option value="Human Resource Manager">Human Resource Manager</option>
            <option value="React Native Web Developer">React Native Web Developer</option>
            <option value="Digital Marketing Manager">Digital Marketing Manager</option>
            <option value="Customer Care Executive">Customer Care Executive</option>
            <option value="IIB Developer">IIB Developer</option>
            <option value="Senior System Engineer">Senior System Engineer</option>
            <option value="Java Developer">Java Developer</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label" required>Name</label>
          <input type="text" class="form-control" name="name" placeholder="Enter Your Full Name">
        </div>
        <div class="col-md-6 mb-3">

            <h6 class="mb-2 pb-1">Gender: </h6>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" value="female" checked />
              <label class="form-check-label">Female</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" 
                value="male" />
              <label class="form-check-label" >Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="other"
                value="other" />
              <label class="form-check-label" for="otherGender">Other</label>
            </div>
          </div>
          <div class="mb-3">
            <label for="address" class="form-label" required>Enter Address</label>
            <div class="col-md-9 pe-5">
                <textarea class="form-control" rows="3" placeholder="Enter Address " name="address"></textarea>
              </div>
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label" required>Enter Contact  Number</label>
            <input type="number" class="form-control" name="contactno" placeholder="Enter Contact No. ">
          </div>
          <div class="mb-3 pt-5">
            <label for="emailaddress" class="form-label" required>Email Address</label>
            <input type="email" class="form-control" name="emailaddress" placeholder="Enter Email">
          </div>
          <div class="mb-3">
            <label for="dob" class="form-label" required>Date of Birth</label>
            <input type="date" class="form-control" name="dob" placeholder="Enter Date Of Birth">
          </div>
          <div class="mb-3">
            <label for="qualification" class="form-label" required>Enter Your Highest Qualification</label>
            <input type="text" class="form-control" name="qualification">
          </div>
          <div class="mb-3">
            <label for="we" class="form-label" required>Work Experience</label>
            <input type="text" class="form-control" name="experience">         
          </div>
          <div class="mb-3">
            <label for="skills" class="form-label" required>Skills</label>
            <div class="col-md-9 pe-5">
                <textarea class="form-control" name="keyskills" placeholder="Enter Your Skills"></textarea>
              </div>
          </div>
        <div class="mb-3 form-check pt-3">
            <div class="form-check d-flex mb-5">
                <input class="form-check-input me-2" type="checkbox" value="Termsandconditions" />
                <label class="form-check-label" >
                  I agree all statements in <a href="#">Terms of service</a>
                </label>
              </div>
        </div>
        <button type="submit" class="btn btn-primary w-100 " style="background-color: #093f75; color:white;">Submit</button>
      </form>
</div>
{% endblock body %}