{% extends "issue/index.html" %}
{% block body %}
{% load static %}
<style>
    iframe {
    flex: 1 1 auto; 
    max-width: 100%; 
    
  }
  .vid-container {
    gap: 20px; /* Add spacing between videos, adjust as needed */
  }
  
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

</style>
<script>
  function login(){
    alert("Please login to continue");
  }
  </script>

<!-- Featured Jobs -->
<div class="row">
    <h1 class="head text-center pt-5">Featured Jobs</h1>
    <div class="col-sm-3 mb-3 pt-5">
        <div class="card">
          <img src="{% static 'images/react.png' %}" class="card-img-top" alt="..." >
          <div class="card-body">
            <h5 class="card-title">React Native Web Developer</h5>
            <p style="font-size: 13px;" style="color: grey;"><i class="fa-solid fa-location-dot" style="color: grey;"></i>&nbsp;Mumbai,Maharastra &nbsp;
            <i class="fa-regular fa-clock" style="color: grey;"></i>&nbsp;10 Minutes ago
            </p>
            <p class="card-text"><ul>
              <li>Remote-Full time/Part Time</li>
              <li>Experienced:5+Years</li>
              <li>Salary: Based on Skill set</li>
              <li>Skilled in: (HTML,CSS,JSX,React)</li>
            </ul></p>
           <a href="{% url 'jobapp:login' %}" class="btn btn-primary" style="background-color: #093f75;" onclick="login()">Apply Now</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 pt-5 ">
        <div class="card" >
          <img src="{% static 'images/dm.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Digital Marketing Manager</h5>
            <p style="font-size: 13px;" style="color: grey;">
            <i class="fa-solid fa-location-dot" style="color: grey;"></i>&nbsp;Chicago, US &nbsp;
            <i class="fa-regular fa-clock" style="color: grey;"></i>&nbsp;6 Minutes ago &nbsp;<br>
            <i class="fa-solid fa-briefcase" style="color: grey;"></i>&nbsp;Full-Time
          </p>
            <p class="card-text">
            <ul><li>In-depth knowledge of current digital trends</li>
            <li>Experience with SEO and SEM strategy and keyword research</li></ul>  
            </p>
            <a href="{% url 'jobapp:login' %}" class="btn btn-primary"style="background-color: #093f75;" onclick="login()">Apply Now</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 pt-5">
        <div class="card" >
          <img src="{% static 'images/customercare.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Customer Care Executive </h5>
            <p style="font-size: 13px;" style="color: grey;"><i class="fa-solid fa-location-dot" style="color: grey;"></i>&nbsp;Hyderabad,India &nbsp;
              <i class="fa-regular fa-clock" style="color: grey;"></i>&nbsp;10 Minutes ago
              </p>
              <ul>
              <li> Total Experience: 5.00 to 10.00 Years</li>
              <li> Job Post Date: 17/04/2024</li>
              <li> Domain: IT</li>
            </ul>
            <a href="{% url 'jobapp:login' %}" class="btn btn-primary" style="background-color: #093f75;" onclick="login()">Apply Now</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mt-5 mb-5">
        <div class="card " >
          <img src="{% static 'images/dba.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">IIB Developer</h5>
            <p style="font-size: 13px;" style="color: grey;"><i class="fa-solid fa-location-dot" style="color: grey;"></i>&nbsp;Banglore &nbsp;
              <i class="fa-regular fa-clock" style="color: grey;"></i>&nbsp;28 Minutes ago<br>
              <i class="fa-solid fa-briefcase" style="color: grey;"></i>&nbsp;Remote
              </p>
            <ul>
              <li>Role: Database Administrator</li>
              <li>Engineering - Software & QA</li>
              <li>Data warehousing</li>
            </ul>
            <a href="{% url 'jobapp:login' %}" class="btn btn-primary" style="background-color: #093f75;" onclick="login()">Apply Now</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mt-5 mb-5">
        <div class="card " >
          <img src="{% static 'images/fullstack.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Full Stack Developer</h5>
            <p style="font-size: 13px;" style="color: grey;"><i class="fa-solid fa-location-dot" style="color: grey;"></i>&nbsp;Lucknow,Pradesh &nbsp;
              <i class="fa-regular fa-clock" style="color: grey;"></i>&nbsp; 2 Hour ago
              </p>
            <ul>
              <li>Full Time</li>
              <li>Skills:HTML,CSS,Js
                Reactjs,Nodejs</li>
              <li>For Freshers Only</li>
            </ul>
            <a href="{% url 'jobapp:login' %}" class="btn btn-primary" style="background-color: #093f75;" onclick="login()">Apply Now</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mt-5 mb-5">
        <div class="card ">
          <img src="{% static 'images/ux.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">UX/UI Designer</h5>
            <p style="font-size: 13px;" style="color: grey;"><i class="fa-solid fa-location-dot" style="color: grey;"></i>&nbsp;Lucknow,Pradesh &nbsp;
              <i class="fa-regular fa-clock" style="color: grey;"></i>&nbsp; 10 Hours ago
              </p>
            <ul>
              <li>Up-to-date knowledge of design software like Adobe Illustrator and Photoshop</li>
              <li>Good time-management skills</li>
            </ul>
            <a href="{% url 'jobapp:login' %}" class="btn btn-primary" style="background-color: #093f75;">Apply Now</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-5 pt-5">
        <div class="card">
          <img src="{% static 'images/react.png' %}" class="card-img-top" alt="..." >
          <div class="card-body">
            <h5 class="card-title">Software Engineer</h5>
            <p style="font-size: 13px;" style="color: grey;"><i class="fa-solid fa-location-dot" style="color: grey;"></i>&nbsp;Mumbai,Maharastra &nbsp;
            <i class="fa-regular fa-clock" style="color: grey;"></i>&nbsp;10 Minutes ago
            </p>
            <p class="card-text"><ul>
              <li>Remote-Full time/Part Time</li>
              <li>Experienced:5+Years</li>
              <li>Skilled in: (HTML,CSS,JSX,React)</li>
            </ul></p>
           <a href="{% url 'jobapp:login' %}" class="btn btn-primary" style="background-color: #093f75;" onclick="login()">Apply Now</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 pt-5 ">
        <div class="card">
          <img src="{% static 'images/dm.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Digital Marketing Manager</h5>
            <p style="font-size: 13px;" style="color: grey;">
            <i class="fa-solid fa-location-dot" style="color: grey;"></i>&nbsp;Chicago, US &nbsp;
            <i class="fa-regular fa-clock" style="color: grey;"></i>&nbsp;6 Minutes ago &nbsp;<br>
            <i class="fa-solid fa-briefcase" style="color: grey;"></i>&nbsp;Full-Time
          </p>
            <p class="card-text">
            <ul><li>In-depth knowledge of current digital trends</li>
             <li>Experienced in digital marketing, or a related field</li></ul>
            </p>
            <a href="{% url 'jobapp:login' %}" class="btn btn-primary"style="background-color: #093f75;" onclick="login()">Apply Now</a>
          </div>
        </div>
      </div>
</div>
<!-- Internships and training section -->
<div class="row pt-5 pb-5">
<h1 class="head text-center pb-5">Internship and Trainings</h1>
    <div class="col-sm-3 mb-3">
        <div class="card" >
            <img src="https://www.creative-tim.com/blog/content/images/size/w960/2022/01/which-development-job-is-right-for-you.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Web Development Intern</h5>
              <p class="card-text"><ul>
                <li>3 Months Internship</li>
                <li>LOR & Certficate will be provided</li>
                <li>Unpaid</li>
            </ul></p>
              <a href="#" class="btn btn-primary" style="background-color: #093f75;" onclick="login()">Register</a>
            </div>
          </div>
    </div>
    <div class="col-sm-3 mb-3">
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUYuz3Or_SzA4OIdoCYRL9EDcExBqVVtEhgw&s" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Graphics Designer Intern</h5>
              <p class="card-text"><ul>
                <li>1 Month Internship</li>
                <li>LOR & Certficate will be provided</li>
                <li>Unpaid</li>
            </ul></p>
              <a href="#" class="btn btn-primary" style="background-color: #093f75;" onclick="login()">Register</a>
            </div>
          </div>
    </div>
    <div class="col-sm-3 mb-3">
        <div class="card" >
            <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/What_Is_MBA_In_HR_And_The_Use_Of_An_MBA_In_HR.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HR Intern</h5>
              <p class="card-text"><ul>
                <li>3 Months Internship</li>
                <li>LOR & Certficate will be provided</li>
                <li>Stipend as per skills</li>
            </ul></p>
              <a href="#" class="btn btn-primary" style="background-color: #093f75;" onclick="login()">Register</a>
            </div>
          </div>
    </div>
    <div class="col-sm-3 mb-3">
        <div class="card">
            <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--V0ekZaVJ--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://thepracticaldev.s3.amazonaws.com/i/h68x0up43hmknl5tjcww.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Software Developer</h5>
              <p class="card-text"><ul>
                <li>6 Months Internship</li>
                <li>With Certfication</li>
                <li>In Association with GDC Maad</li>
                <li>Paid</li>
            </ul></p>
              <a href="#" class="btn btn-primary" style="background-color: #093f75;" onclick="login()">Register</a>
            </div>
          </div>
    </div>
    <div class="col-sm-3 pt-5 mb-3">
        <div class="card">
            <img src="https://miro.medium.com/v2/resize:fit:600/1*fOdb_ET1sOd4uZStK4E8HA.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Java Developer</h5>
              <p class="card-text"><ul>
                <li>2 Months training</li>
                <li>Java Complete Course/li>
                <li>Course Fee: 4500</li>
            </ul></p>
              <a href="#" class="btn btn-primary" style="background-color: #093f75;" onclick="login()">Register</a>
            </div>
          </div>
    </div>
    <div class="col-sm-3 pt-5 mb-3">
        <div class="card">
            <img src="https://www.spec-india.com/wp-content/uploads/2022/05/PHP-Developer.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">PHP With MySql</h5>
              <p class="card-text"><ul>
                <li>45  Days Training </li>
                <li>In Collaboration with Microsoft</li>
                <li>Training Cost- 6300</li>
                <li>LOR+ Certificate</li>
            </ul></p>
              <a href="#" class="btn btn-primary" style="background-color: #093f75;" onclick="login()">Register</a>
            </div>
          </div>
    </div>
    <div class="col-sm-3 pt-5 mb-3">
        <div class="card">
            <img src="https://i.ytimg.com/vi/aW9JI9ckVXY/maxresdefault.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Python with Django</h5>
              <p class="card-text"><ul>
                <li>2 Months Training</li>
                <li>LOR & Certficate will be provided</li>
                <li>Training Cost: 1350</li>
            </ul></p>
              <a href="#" class="btn btn-primary" style="background-color: #093f75;" onclick="login()">Register</a>
            </div>
          </div>
    </div>
    <div class="col-sm-3 pt-5 mb-3">
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqYT9Qe01DeBXDa-KqvPJ8WjaBUSHhHW0d2A&s" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Learn Generative AI Tools </h5>
              <p class="card-text"><ul>
                <li>45 Days Training</li>
                <li>With Certfication</li>
                <li>Training Cost:3500/-</li>
            </ul></p>
              <a href="#" class="btn btn-primary" style="background-color: #093f75;" onclick="login()">Register</a>
            </div>
          </div>
    </div>
</div>
<div class="row mb-3 mx-auto">
  <h2 class="text-center mb-2" style="font-size: 35px; color: #093f75;">Interview Preparation Guide</h2>
  <h3 class="text-center mb-5">Here are some common interview questions you can go throughwith.</h3>
  <div class="vid-container">
    <iframe width="500"  height="300" src="https://www.youtube.com/embed/1mHjMNZZvFo?si=neuGdUZt4HtemNlT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <iframe width="500" height="300" src="https://www.youtube.com/embed/WAvBxdNFimk?si=f9QhdAmmUynymNYm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<iframe width="500"  height="300" src="https://www.youtube.com/embed/eV_xfy_zRiA?si=TXixtJik7RlEAs1m" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<iframe width="500" height="300" src="https://www.youtube.com/embed/SoyNG31EAUw?si=jY0Y3TUgrHoHCn7O" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<iframe width="500" height="300" src="https://www.youtube.com/embed/gsvqdO-2v4g?si=gj_xwnbDEE-Sy_in" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<iframe width="500" height="300" src="https://www.youtube.com/embed/uqU89z8DRDo?si=3PSnd12QTr6xpnIB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</div>
{% endblock body %}