{% extends "employerparent.html" %}
{% block body %}
{% load static %}
<style>
    #sec1{
        background-image: url("{%static 'img4.jpg' %}");
    }
    @media only screen and (max-width:600px){
        .col-sm-6 img{
          display: none;
        }
    }
</style>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
    <section>
    <div class="row p-4 text-align" style="background-color: navy;">
        <div class="col-sm-12"> 
               <h1 style="font-size: 45px;" class="text-bold m-5 text-light">Around 12 million Recruiters found the best candidates using <button style="background-color: white; color: navy; border-radius: 30px; border: transparent;" >dreamjobs</button>
               <br><span style="color: skyblue;">Trusted By Top MNCs, FAANG and other top companies</span> 
               </h1>
               <a href="{%url 'employer:jobs' %}" class="btn rounded p-3 mx-5 text-align" style="font-size: 25px; background-color: white; font-weight: 500; color: navy;">Post a new job</a>
            
        </div>
    </div>
    </section>
    <div class="row mx-auto p-4">
        <h1 class="p-5 text-center" style="font-size: 45px;">Connect with the right candidates</h1>
        <div class="col-sm-6">
            <img src="{% static 'first.svg' %}" alt="">
        </div>
        <div class="col-sm-6">
            <h1 class="p-4 px-0" style="color: navy;">Show off your company culture.</h1>
            <p style="font-size: 25px;">Photos and videos are great ways to help candidates best understand what it’s like to work at your company. Easily upload compelling media and showcase what’s unique about your company.</p>
        </div>
    </div>
    <div class="row mx-auto p-4">
        <div class="col-sm-6">
            <h1 class="p-4 px-0 " style="color: navy;">Give Chance To Freshers</h1>
            <p style="font-size: 23px;">Attracting the best talent is essential for any company’s growth. Fresh graduates bring a unique blend of enthusiasm, creativity, and a fresh perspective to the table. By giving freshers an opportunity, you’re not just filling a position – you’re investing in the future of your organization. Freshers are eager to learn, adaptable, and can be molded into the perfect fit for your company culture.</p>
        </div>
        <div class="col-sm-6">
            <img src="{% static 'second.svg' %}" alt="">
        </div>
    </div>
    <div class="row mx-auto p-4">
        <div class="col-sm-6">
            <img src="{% static 'third.svg' %}" alt="">
        </div>
        <div class="col-sm-6">
            <h1 class="p-4 px-0" style="color: navy;">Showcase your jobs.</h1>
            <p style="font-size: 25px;">With a dedicated tab for your jobs, visitors will easily know where to view open roles. This section automatically shows every visitor’s personalized job recommendations and insights so that they can best assess fit for the role and your company.</p>
        </div>
    </div>
    <div class="row p-4">
        <h1 class="text-center pb-4">View Other Companies Job Listings</h1>
        <div class="col-sm-3">
            <div class="card bg-light" style="width: 18rem;">
                <div class="card-body text-dark">
                  <h5 class="card-title text-dark">Business Analyst</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Amazon</h6>
                  <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">View Job Description</a>
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-light" style="width: 18rem;">
                <div class="card-body text-dark">
                  <h5 class="card-title text-dark">System Engineer</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Wipro</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">View Job Description</a>
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-light" style="width: 18rem;">
                <div class="card-body text-dark">
                  <h5 class="card-title text-dark">Business Analyst</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Amazon</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">View Job Description</a>
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-light" style="width: 18rem;">
                <div class="card-body text-dark">
                  <h5 class="card-title text-dark">Business Analyst</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Amazon</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">View Job Description</a>
                </div>
              </div>
        </div>
    </div>
{% endblock body %}
